{
  "presets": [
    [
      "next/babel",
      {
        "presetReact": {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }
      }
    ],
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@emotion/babel-plugin",
    "@babel/plugin-proposal-object-rest-spread",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "modules": ["src"]
      }
    ]
  ]
}
