##NEXT_PUBLIC_MALAIKA_API='http://malaika-back.test/api'
##NEXT_PUBLIC_MALAIKA_FRONT='http://malaika-front.test:3000'
##NEXT_PUBLIC_MALAIKA_STORAGE='http://malaika-back.test/storage/'
##NEXT_PUBLIC_MALAIKA_API_SSR='http://apache2/back/public/api'




NEXT_PUBLIC_MAIL='dev2@metodo10.com'
